@import "./variables";

.nav {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  z-index: 10;
  gap: 1rem;
  margin-top: 1rem;

  &-logo {
    height: 36.67px;
  }

  &-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 48px;

    a {
      text-decoration: none;
      color: $text-black;
      @include font(400, 20px, 25px);
    }
  }

  &-btn {
    background: $purple-gradient;
    border-radius: 10px;
    padding: 15px 26px;
    @include font(400, 16px, 24px);
    color: #fff;
    border: none;
    outline: 0;
  }
}
